<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>TEA : ABOUT</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}">	
	</nav>
	<div class="information">
		<h3>Repacked & Packed By :</h3>
		<h1>Susheel Food & Bevarage's</h1>
		<h4>RSN : XXX/1,E Ward,Xyz Mil,</h4>
		<h4>Goregaon West, Mumbai</h4>
		<h4>Maharashtra-XXXXXX,India.</h4>
		
	</div>
	<div class="icons">
		<h3><i class="fa-brands fa-square-instagram" style="color: black;"></i> :abcdxyz</h3>
		<h3><i class="fa-solid fa-phone" style="color: black;"></i> : +91-1233456789</h3>
		<h3> <i class="fa-solid fa-envelope" style="color: black;"></i>  : xyz@gmail.com</h3>
		
	</div>
</body>
</html>